In [3]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.4'

In [2]:
pd?

In [4]:
data = pd.Series([0.25, 0.5,0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data['b']

0.5

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
data[5]

0.5

In [13]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

In [14]:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [16]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [17]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

In [18]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [19]:
states = pd.DataFrame({'population': population,
'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [20]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [21]:
states.columns

Index(['population', 'area'], dtype='object')

In [24]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [25]:
states['area']['Texas']

695662

In [26]:
# Constructing DataFrame objects
# From a single Series object.
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [27]:
# From a list of dicts.
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [28]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [29]:
# From a dictionary of Series objects.
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [31]:
# From a two-dimensional NumPy array.
pd.DataFrame(np.random.rand(3, 2),columns=['foo', 'bar'],index=['a', 'b', 'c'])

        foo       bar
a  0.087978  0.687854
b  0.290795  0.048724
c  0.738361  0.470817

In [32]:
# From a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [34]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [35]:
# The Pandas Index Object
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [36]:
# Index as immutable array
ind[1]

3

In [37]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [38]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [39]:
# Index as ordered set
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [41]:
# intersection
# indA & indB ======>deprecated
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [43]:
# union
# indA | indB =======> deprecated
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [45]:
# symmetric difference
# indA ^ indB=============> deprecated
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')

In [46]:
# Data Selection in Series
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [47]:
'a' in data

True

In [48]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [49]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [50]:
# Series can be modify
data['e'] = 1.25

In [51]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [52]:
# Series as one-dimensional array
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [53]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [54]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [55]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [56]:
# Indexers: loc, iloc, and ix
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [57]:
# explicit index when indexing
data[1]

'a'

In [58]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

In [59]:
# loc attribute allows indexing and slicing that always references the explicit index:
data.loc[1]

'a'

In [60]:
data.loc[1:3]

1    a
3    b
dtype: object

In [61]:
# The iloc attribute allows indexing and slicing that always references the implicit
# Python-style index
data.iloc[1]

'b'

In [62]:
data.iloc[1:3]

3    b
5    c
dtype: object